xHTML
xhead, 
xtitle, 
xmeta description, 
xbody, 
xdiv, 
xa, 
xp, 
xh1, 
xul, 
xli, 
xtable (including 
    xthead, 
    xtd, 
    xtbody, 
    xtr)

At the bottom of the page, create a fake survey form that uses the following tags:
xform, 
xselect, 
x input type="text", 
xinput type="checkbox", 
xinput type="radio", 
input type="submit".